.agentwp-components-snackbar-list {
  position: fixed;
  top: 38px;
  right: 32px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.agentwp-components-snackbar-list-left {
  left: 32px;
  right: unset;
}

.components-snackbar {
  padding: 10px 40px;
  color: #fff;
}

.agentwp-error-notification {
  background: #ab0909;
}

.agentwp-info-notification {
  background: #646464;
}

.agentwp-default-notification {
  background: #0e876a;
}

.agentwp-notice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  color: #495057;
}
